<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tuimao/0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{154,278}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,278}}</string>
        <key>sourceSize</key>
        <string>{154,278}</string>
      </dict>
      <key>tuimao/1.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,0},{154,278}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,278}}</string>
        <key>sourceSize</key>
        <string>{154,278}</string>
      </dict>
      <key>tuimao/6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,278},{265,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{265,37}}</string>
        <key>sourceSize</key>
        <string>{265,37}</string>
      </dict>
      <key>tuimao/4.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,0},{102,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,93}}</string>
        <key>sourceSize</key>
        <string>{102,93}</string>
      </dict>
      <key>tuimao/3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,315},{214,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{214,41}}</string>
        <key>sourceSize</key>
        <string>{214,41}</string>
      </dict>
      <key>tuimao/2.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,102},{82,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,101}}</string>
        <key>sourceSize</key>
        <string>{82,101}</string>
      </dict>
      <key>tuimao/5.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,315},{154,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,50}}</string>
        <key>sourceSize</key>
        <string>{154,50}</string>
      </dict>
      <key>tuimao/9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,356},{192,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,34}}</string>
        <key>sourceSize</key>
        <string>{192,34}</string>
      </dict>
      <key>tuimao/7.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,203},{112,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,47}}</string>
        <key>sourceSize</key>
        <string>{112,47}</string>
      </dict>
      <key>tuimao/8.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,356},{38,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,11}}</string>
        <key>sourceSize</key>
        <string>{38,11}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>tuimao.png</string>
      <key>size</key>
      <string>{401,394}</string>
      <key>textureFileName</key>
      <string>tuimao</string>
    </dict>
  </dict>
</plist>
