<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>dashu/p0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{358,559}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{358,559}}</string>
        <key>sourceSize</key>
        <string>{358,559}</string>
      </dict>
      <key>dashu/p2.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{132,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,174}}</string>
        <key>sourceSize</key>
        <string>{132,174}</string>
      </dict>
      <key>dashu/p7.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,174},{109,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,170}}</string>
        <key>sourceSize</key>
        <string>{109,170}</string>
      </dict>
      <key>dashu/p1.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,0},{166,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,113}}</string>
        <key>sourceSize</key>
        <string>{166,113}</string>
      </dict>
      <key>dashu/p4.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,113},{110,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,148}}</string>
        <key>sourceSize</key>
        <string>{110,148}</string>
      </dict>
      <key>dashu/p6.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,344},{83,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,113}}</string>
        <key>sourceSize</key>
        <string>{83,113}</string>
      </dict>
      <key>dashu/p12.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,113},{44,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,107}}</string>
        <key>sourceSize</key>
        <string>{44,107}</string>
      </dict>
      <key>dashu/p9.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,220},{45,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,107}}</string>
        <key>sourceSize</key>
        <string>{45,107}</string>
      </dict>
      <key>dashu/p8.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,457},{91,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,102}}</string>
        <key>sourceSize</key>
        <string>{91,102}</string>
      </dict>
      <key>dashu/p10.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,261},{93,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,63}}</string>
        <key>sourceSize</key>
        <string>{93,63}</string>
      </dict>
      <key>dashu/p15.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,344},{57,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,81}}</string>
        <key>sourceSize</key>
        <string>{57,81}</string>
      </dict>
      <key>dashu/p17.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,324},{59,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,78}}</string>
        <key>sourceSize</key>
        <string>{59,78}</string>
      </dict>
      <key>dashu/p18.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,327},{47,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,77}}</string>
        <key>sourceSize</key>
        <string>{47,77}</string>
      </dict>
      <key>dashu/p13.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,327},{47,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,76}}</string>
        <key>sourceSize</key>
        <string>{47,76}</string>
      </dict>
      <key>dashu/p21.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,425},{63,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,57}}</string>
        <key>sourceSize</key>
        <string>{63,57}</string>
      </dict>
      <key>dashu/p20.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,482},{56,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,53}}</string>
        <key>sourceSize</key>
        <string>{56,53}</string>
      </dict>
      <key>dashu/p19.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,482},{56,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,54}}</string>
        <key>sourceSize</key>
        <string>{56,54}</string>
      </dict>
      <key>dashu/p14.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,404},{55,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,39}}</string>
        <key>sourceSize</key>
        <string>{55,39}</string>
      </dict>
      <key>dashu/p22.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,403},{45,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,46}}</string>
        <key>sourceSize</key>
        <string>{45,46}</string>
      </dict>
      <key>dashu/p16.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,174},{18,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,41}}</string>
        <key>sourceSize</key>
        <string>{18,41}</string>
      </dict>
      <key>dashu/p11.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,215},{18,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,40}}</string>
        <key>sourceSize</key>
        <string>{18,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>dashu.png</string>
      <key>size</key>
      <string>{656,559}</string>
      <key>textureFileName</key>
      <string>dashu</string>
    </dict>
  </dict>
</plist>
