<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>xiaonvhai/p2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{189,372}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,372}}</string>
        <key>sourceSize</key>
        <string>{189,372}</string>
      </dict>
      <key>xiaonvhai/p15.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,0},{108,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,97}}</string>
        <key>sourceSize</key>
        <string>{108,97}</string>
      </dict>
      <key>xiaonvhai/p17.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,97},{103,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,100}}</string>
        <key>sourceSize</key>
        <string>{103,100}</string>
      </dict>
      <key>xiaonvhai/p16.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,197},{102,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,102}}</string>
        <key>sourceSize</key>
        <string>{102,102}</string>
      </dict>
      <key>xiaonvhai/p18.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,0},{61,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,94}}</string>
        <key>sourceSize</key>
        <string>{61,94}</string>
      </dict>
      <key>xiaonvhai/p19.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,94},{61,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,86}}</string>
        <key>sourceSize</key>
        <string>{61,86}</string>
      </dict>
      <key>xiaonvhai/p8.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,180},{33,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,82}}</string>
        <key>sourceSize</key>
        <string>{33,82}</string>
      </dict>
      <key>xiaonvhai/p1.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,180},{32,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,82}}</string>
        <key>sourceSize</key>
        <string>{32,82}</string>
      </dict>
      <key>xiaonvhai/p12.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,262},{31,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,75}}</string>
        <key>sourceSize</key>
        <string>{31,75}</string>
      </dict>
      <key>xiaonvhai/p3.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,299},{63,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,57}}</string>
        <key>sourceSize</key>
        <string>{63,57}</string>
      </dict>
      <key>xiaonvhai/p0.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{59,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,61}}</string>
        <key>sourceSize</key>
        <string>{59,61}</string>
      </dict>
      <key>xiaonvhai/p10.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,61},{46,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,54}}</string>
        <key>sourceSize</key>
        <string>{46,54}</string>
      </dict>
      <key>xiaonvhai/p11.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,115},{45,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,54}}</string>
        <key>sourceSize</key>
        <string>{45,54}</string>
      </dict>
      <key>xiaonvhai/p22.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,169},{54,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,26}}</string>
        <key>sourceSize</key>
        <string>{54,26}</string>
      </dict>
      <key>xiaonvhai/p14.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,195},{42,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,53}}</string>
        <key>sourceSize</key>
        <string>{42,53}</string>
      </dict>
      <key>xiaonvhai/p9.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,248},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>xiaonvhai/p5.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,298},{45,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,46}}</string>
        <key>sourceSize</key>
        <string>{45,46}</string>
      </dict>
      <key>xiaonvhai/p21.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,299},{31,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,42}}</string>
        <key>sourceSize</key>
        <string>{31,42}</string>
      </dict>
      <key>xiaonvhai/p20.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,298},{29,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,42}}</string>
        <key>sourceSize</key>
        <string>{29,42}</string>
      </dict>
      <key>xiaonvhai/p13.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,195},{18,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,41}}</string>
        <key>sourceSize</key>
        <string>{18,41}</string>
      </dict>
      <key>xiaonvhai/p6.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,341},{40,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,31}}</string>
        <key>sourceSize</key>
        <string>{40,31}</string>
      </dict>
      <key>xiaonvhai/p7.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,340},{40,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,29}}</string>
        <key>sourceSize</key>
        <string>{40,29}</string>
      </dict>
      <key>xiaonvhai/p4.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,298},{18,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,40}}</string>
        <key>sourceSize</key>
        <string>{18,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>xiaonvhai.png</string>
      <key>size</key>
      <string>{417,372}</string>
      <key>textureFileName</key>
      <string>xiaonvhai</string>
    </dict>
  </dict>
</plist>
