<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>xiaonanhai/p6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{219,388}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{219,388}}</string>
        <key>sourceSize</key>
        <string>{219,388}</string>
      </dict>
      <key>xiaonanhai/p0.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,0},{87,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,122}}</string>
        <key>sourceSize</key>
        <string>{87,122}</string>
      </dict>
      <key>xiaonanhai/p17.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{99,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,85}}</string>
        <key>sourceSize</key>
        <string>{99,85}</string>
      </dict>
      <key>xiaonanhai/p21.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,85},{71,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,106}}</string>
        <key>sourceSize</key>
        <string>{71,106}</string>
      </dict>
      <key>xiaonanhai/p22.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,122},{67,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,106}}</string>
        <key>sourceSize</key>
        <string>{67,106}</string>
      </dict>
      <key>xiaonanhai/p19.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,191},{64,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,84}}</string>
        <key>sourceSize</key>
        <string>{64,84}</string>
      </dict>
      <key>xiaonanhai/p18.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,275},{91,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,59}}</string>
        <key>sourceSize</key>
        <string>{91,59}</string>
      </dict>
      <key>xiaonanhai/p20.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,275},{61,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,86}}</string>
        <key>sourceSize</key>
        <string>{61,86}</string>
      </dict>
      <key>xiaonanhai/p1.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,334},{59,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,62}}</string>
        <key>sourceSize</key>
        <string>{59,62}</string>
      </dict>
      <key>xiaonanhai/p26.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,361},{63,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,57}}</string>
        <key>sourceSize</key>
        <string>{63,57}</string>
      </dict>
      <key>xiaonanhai/p23.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,361},{57,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,52}}</string>
        <key>sourceSize</key>
        <string>{57,52}</string>
      </dict>
      <key>xiaonanhai/p7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,388},{56,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,48}}</string>
        <key>sourceSize</key>
        <string>{56,48}</string>
      </dict>
      <key>xiaonanhai/p4.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,191},{33,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,79}}</string>
        <key>sourceSize</key>
        <string>{33,79}</string>
      </dict>
      <key>xiaonanhai/p8.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,388},{45,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,56}}</string>
        <key>sourceSize</key>
        <string>{45,56}</string>
      </dict>
      <key>xiaonanhai/p12.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,388},{41,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,58}}</string>
        <key>sourceSize</key>
        <string>{41,58}</string>
      </dict>
      <key>xiaonanhai/p9.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,270},{30,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,79}}</string>
        <key>sourceSize</key>
        <string>{30,79}</string>
      </dict>
      <key>xiaonanhai/p13.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,349},{31,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,75}}</string>
        <key>sourceSize</key>
        <string>{31,75}</string>
      </dict>
      <key>xiaonanhai/p11.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,388},{42,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,53}}</string>
        <key>sourceSize</key>
        <string>{42,53}</string>
      </dict>
      <key>xiaonanhai/p16.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,85},{36,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,61}}</string>
        <key>sourceSize</key>
        <string>{36,61}</string>
      </dict>
      <key>xiaonanhai/p15.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,146},{36,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,61}}</string>
        <key>sourceSize</key>
        <string>{36,61}</string>
      </dict>
      <key>xiaonanhai/p27.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,228},{45,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,46}}</string>
        <key>sourceSize</key>
        <string>{45,46}</string>
      </dict>
      <key>xiaonanhai/p24.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,207},{45,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,41}}</string>
        <key>sourceSize</key>
        <string>{45,41}</string>
      </dict>
      <key>xiaonanhai/p25.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,396},{45,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,40}}</string>
        <key>sourceSize</key>
        <string>{45,40}</string>
      </dict>
      <key>xiaonanhai/p10.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,413},{54,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,26}}</string>
        <key>sourceSize</key>
        <string>{54,26}</string>
      </dict>
      <key>xiaonanhai/p2.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,228},{18,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,41}}</string>
        <key>sourceSize</key>
        <string>{18,41}</string>
      </dict>
      <key>xiaonanhai/p14.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,122},{18,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,40}}</string>
        <key>sourceSize</key>
        <string>{18,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>xiaonanhai.png</string>
      <key>size</key>
      <string>{429,446}</string>
      <key>textureFileName</key>
      <string>xiaonanhai</string>
    </dict>
  </dict>
</plist>
