<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>xiaoniao/0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{391,339}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{391,339}}</string>
        <key>sourceSize</key>
        <string>{391,339}</string>
      </dict>
      <key>xiaoniao/1.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,0},{168,263}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,263}}</string>
        <key>sourceSize</key>
        <string>{168,263}</string>
      </dict>
      <key>xiaoniao/4.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,263},{168,263}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,263}}</string>
        <key>sourceSize</key>
        <string>{168,263}</string>
      </dict>
      <key>xiaoniao/2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,339},{156,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,228}}</string>
        <key>sourceSize</key>
        <string>{156,228}</string>
      </dict>
      <key>xiaoniao/3.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,339},{156,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,228}}</string>
        <key>sourceSize</key>
        <string>{156,228}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>xiaoniao.png</string>
      <key>size</key>
      <string>{559,567}</string>
      <key>textureFileName</key>
      <string>xiaoniao</string>
    </dict>
  </dict>
</plist>
